<body>
    <table class="tbl-index">
        <tr>
            <td class="image-section">
                <center>
                    <a href="https://www.cid.edu.co/">
                        <img class="top-image"
                            src="https://cidpullzonestorage.b-cdn.net/bachilleratodigital/imagenes_sistema/BD.png" />
                    </a>
                </center>
            </td>
        </tr>
        <tr>
            <td class=" head-title">
                <h3 style="margin-top: 20px">Hola señor(a) {{ user }}</h3>
            </td>
        </tr>
        <tr>
            <td class="td-restored-pass">
                <table style="margin: 0 auto">
                    <tr>
                        <td class="grey-block">
                            El número de ticket <b>{{ ticket }}</b>, ha sido respondido. <br><br>
                            Para ver más información click <a href="http://localhost:3000">aquí</a>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>

            <td align="center">
                <table>
                    <tr>
                        <td>
                            <a href="https://www.instagram.com/cidenvigado/?hl=es"><img style="width: 50px"
                                    src="https://png.pngtree.com/element_our/md/20180518/md_5aff6089d3e02.png"></a>
                        </td>
                        <td>
                            <a href="https://www.facebook.com/CIDenv/"><img style="width: 50px"
                                    src="https://cdn.icon-icons.com/icons2/1254/PNG/512/1495494673-jd04_84463.png"></a>
                        </td>
                    </tr>
                </table>
            </td>

        </tr>
        <tr bgcolor="#fff" style="border-top: 4px solid #0a6e32;">
            <td>
                <table>
                    <tr>
                        <td class="inside-footer">
                            <div>
                                <b>Por favor, NO responda a este mensaje, es un envío automático.</b><br>
                                <br>
                                Si usted no realizó esta petición haga caso omiso o comuníquese con el administrador del
                                sistema
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>